body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.game-info {
  margin-left: 20px;
}

.retry {
  align-self: flex-start;
  display: block;
  margin-top: 10px;
}

ol,
ul {
  padding-left: 30px;
}

li {
  padding: 5px;
}

.history {
  outline: none;
  cursor: pointer;
  background: none;
  transition: 0.5s;
  border-radius: 1px;
  width: 100%;
}

.history:hover {
  border: none;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
